@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgba(235, 102, 43, 0.05);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
a, button{
  transition: 0.2s;
}

a:hover, button:hover{
  transition: 0.2s;
}

a:hover {
  color: #EB662B;
}

.container{
  max-width: 1320px;
}

/* Skeleton gradient */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background: linear-gradient(to right, #EB662B, #E7E6E6);
  background-size: 200% auto;
  animation: gradient 1s linear infinite;
}

